.user-info-container {
    height: 100vh;
}

.user-card {
    width: 400px;
    height: auto;
    background-color: #f7f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px
}

.user-details {
    margin: 10px;
    padding-top: 15px;
    line-height: 5px;
    border-bottom: 2px solid black;
}